/* ===== ESTRUTURA DA TELA PRINCIPAL ===== */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  margin: 24px auto 48px auto;
}

.logo-container h1 {
  color: #FF9F1C;
  text-align: right;
  width: 100%;
}

.logo {
  width: 200px;
  height: auto;
  max-width: 100%;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 24px;
}

/* TABELA DA VIAGEM */
.trip-table {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 24px 0;
}

.header-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 16px;
  background: #ecf0f1;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.header-row span {
  width: 80px;
}

.date-day {
  display: flex;
  gap: 24px;
}

.date-day span {
  width: 80px;
}

.day-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 12px 16px;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
}

.day-header:hover {
  background: #f8f9fa;
}


/* Apenas a área do evento é arrastável */
.event-container {
  cursor: move;
}

.day {
  text-transform: capitalize;
}

.event-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.event-container input {
  width: 100%;
}

.event-container .expand-btn {
  background-color: #FFF;
  color: #2EC4B6;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.event-container .expand-btn:hover {
  border: 1px solid #2EC4B6;
  background-color: #2EC4B6;
  color: #FFF;
}
.details-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  background: #f5f5f5;
  border-top: none;
}

.expense-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.expense-btn {
  padding: 8px 16px;
  background: #FFF !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  justify-content: center;
  transition: all 0.3s ease; 
}

.expense-btn span {
  margin-left: 4px;
}

.expense-btn span,
.expense-btn i {
  color: #2EC4B6;
  transition: color 0.3s ease;
}

.expense-btn:hover {
  background: #2EC4B6 !important;
  border-color: #2EC4B6 !important;
}

.expense-btn:hover span,
.expense-btn:hover i {
  color: #FFF !important;
}


.modal-grid {
  display: grid;
  gap: 1rem;
}

/* ===== MODAIS DE DESPESAS ===== */
/* .expense-modal {
  background: white;
  margin: 0;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  overflow-y: auto;
} */

.expense-modal {
  background: white;
  margin: auto; /* Centralização horizontal nativa do dialog */
  width: 90%;
  max-width: 600px;
  /* max-height: 90vh; */
  border: none;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transform: translate3d(-50%, 100%, 0);
  transition: all 0.4s ease-out;
}

.expense-modal.active {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}

.expense-modal::backdrop {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0);
  transition: all 0.4s ease;
}

.expense-modal[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.modal-content {
  padding: 24px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0; 
  border-bottom: 1px solid #eee;
  padding-bottom: 16px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #2EC4B6;
}

.modal-header button {
  background: none;
  border: none;
}

.modal-body {
  display: grid;
  gap: 16px;
}

.row-even {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.row-odd {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.row-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.modal-footer {
  margin: 24px 0;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal-footer button[type="submit"] {
  background: #2EC4B6;
  color: white;
  border: none;
}


/* ===== MOBILE ===== */
/* ===== MOBILE ===== */
@media (max-width: 500px) {
   /* ===== CONTROLES GERAIS ===== */
   .controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    width: 100%;
    gap: 48px;
    margin-bottom: 48px;
  }

  input, button {
    font-size: 1.2rem;
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 48px;
    width: 100%;
  }

  label {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  span {
    font-size: 1.2rem;
  }

  /* ===== ESTRUTURA DA TABELA ===== */
  .trip-table {
    padding: 16px;
  }
  .header-row{
    display: none;
  }

  .day-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 4px;
    align-items: flex-start;
    margin-bottom: 24px;
    border-bottom: none;
  }

  /* ===== CABEÇALHO DO DIA ===== */
  .day-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    width: 100%;
  }

  /* ===== CÉLULAS DA TABELA ===== */
  .date-day {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
  }

  .date-day span {
    width: 95px;
  }

  /* ===== CONTAINER DE EVENTOS ===== */
   .event-container {
    width: 100%;
    margin-top: 8px;
    grid-template-columns: 24px 1fr 24px;
  }

  .event-container input[type="text"] {
    min-width: 0;
    max-width: 100%;
    padding: 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
  }
  
  /* ===== BOTÕES ===== */
  .drag-handle {
    width: 30px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: move;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .expand-btn {
    width: 34px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
  }

  /* ===== DETALHES EXPANDÍVEIS ===== */
  .details-row {
    width: 100%;
    margin-top: 8px;
    padding: 12px;
  }

  .expense-btn {
    width: 48px;
    height: 48px;
  }

  .expense-btn i {
    font-size: 1rem;
    margin: 0 !important;
  }

  .expense-btn span {
    display: none;
  }

  /* Ajustes específicos para os grids internos */
  /* .modal-grid > div {
    grid-template-columns: 1fr !important;
    gap: 24px;
  } */

  /*  MODAL DE DESPESA */  
  .modal-content {
    padding: 16px;
  }

  .modal-header h3 {
    font-size: 1.3rem;
  }

  .modal-header button {
    width: 48px;
    height: 48px;
  }

  .row-even, .row-odd, .row-three {
    grid-template-columns: 1fr;
  }
}

