
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  padding: 16px;
}


/* ===== FONTES ===== */

h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  /* color: #2c3e50; */
  color: #2EC4B6;
  /* color: #FF9F1C; */
  margin: 48px 0;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1.5rem;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Rajdhani', sans-serif;
  color: #333;

}

p, span, button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

input, span {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

label {
  color: #555;
  font-family: 'Rajdhani', sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 4px;
 }

input {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 36px;
}

button {
  font-size: 1rem;
  /* background: #3498db; */
  background: #2EC4B6;
  /* background: #FF9F1C; */
  color: white;
  padding: 8px 16px;
  min-height: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover:not(:disabled) { /* Só aplica hover se não estiver desabilitado */
  background: #27A599;
}

/* Estilo específico para botão desabilitado */
button:disabled {
  background: #95a5a6 !important; /* Cinza azulado */
  cursor: not-allowed;
  /* opacity: 0.7; */
}


/* Mensagem de erro (opcional) */
.error-message {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
  display: none;
}

/* ===== ESTRUTURA DA TELA PRINCIPAL ===== */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px auto 48px auto;
  /* padding: 1rem 0; */
}

.logo {
  width: 200px;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  align-items: flex-end;
}

/* TABELA DA VIAGEM */
.trip-table {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 24px 0;
}

.header-row {
  display: grid;
  grid-template-columns: 120px 120px 1fr;
  padding: 16px;
  background: #ecf0f1;
  font-weight: bold;
}

.day-row {
  display: grid;
  grid-template-columns: 120px 120px 1fr;
  padding: 16px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.day {
  text-transform: capitalize;
}

.event-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.event-container input[type="text"] {
  flex: 1;
}

/* botão do drag and drop */
.drag-handle {
  cursor: move;
  padding: 8px;
  background: #f8f9fa;
  border: 1px dashed #ddd;
  border-radius: 4px;
  user-select: none;
  transition: background 0.3s;
}

.drag-handle:hover {
  background: #e0e0e0;
}

/* botão do modal de evento */
.event-info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #2EC4B6;
  background: rgba(0, 0, 0, 0.0) !important;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 8px;
}

.event-info-btn:hover {
  color: #27A599;
  background: rgba(0, 0, 0, 0.1) !important;
}


/* ===== MOBILE ===== */
/* ===== MOBILE ===== */


@media (max-width: 600px) {
   /* ===== CONTROLES GERAIS ===== */
   .controls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    flex: 1;
    width: 100%;
  }

  input, button {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 48px;
    width: 100%;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  /* ===== ESTRUTURA DA TABELA ===== */
  .trip-table {
    padding: 16px;
  }
  .header-row{
    display: none;
  }

  .day-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 4px;
    align-items: flex-start;
    margin-bottom: 24px;
    border-bottom: none;
  }

  /* ===== CÉLULAS DA TABELA ===== */
  .date, .day {
    flex: 0 0 auto;
    min-width: 90px; /* Largura mínima reduzida */
    /* font-size: 0.75rem; */
    white-space: nowrap;
  }

  /* ===== CONTAINER DE EVENTOS ===== */
  .event-container {
    flex: 1 0 100%; /* Ocupa linha inteira */
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    margin-top: 4px;
  }

  .event-container input[type="text"] {
    min-width: 0;
    max-width: 100%;
    padding: 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
  }

  /* ===== BOTÕES ===== */
  .drag-handle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: move;
    opacity: 0.7;
    transition: opacity 0.3s;
  }

  .event-info-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s;
  }
}